<ion-view title="Neuer Eintrag">
  <div class="bar bar-subheader bar-light">
    <div class="button-bar">
      <a class="button button-clear icon ion-chevron-left" ng-click="prevDay()"></a>
      <a class="button button-clear" ng-click="openDateDo()"><strong>{{data.formatted}}</strong></a>
      <a class="button button-clear icon ion-chevron-right" ng-click="nextDay()"></a>
    </div>
  </div>

  <ion-content class="has-header has-subheader has-footer">


    <ion-list>
      <ion-item class="item-divider pp-item-divider">
        {{'APP_CATEGORIES' | translate}}
      </ion-item>
      <ion-item class="item-icon-right" ng-repeat="category in categories" ng-click="selectCategory(category)">
        {{category.title}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>

  <div class="bar bar-footer bar-positive">
    <div class="button-bar">
      <button type="submit" ng-disabled="!allowSave" class="button button-clear icon ion-checkmark" ng-click="save(newEntry)"> Speichern</button>
      <button class="button button-clear icon ion-close-circled" ui-sref="app.care.dashboard"> Abbrechen</button>
    </div>
  </div>

</ion-view>