<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Display FBData Example</title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script src="../tmp/_pdfIonicAppArgs.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/angular/angular.js"></script>
    <script src="lib/ionic/js/angular-ui/angular-ui-router.js"></script>
    
    <!-- vendor libs -->
    <script src="lib/underscore-min.js"></script>
    <script src="lib/firebase.js"></script>  <!-- 1.0.21 -->
    <script src="lib/firebase-simple-login-extended.js"></script> <!-- 1.6.3 -->
    <script src="lib/angularfire.min.js"></script>       <!-- 0.8.2 -->
    <script src="lib/angular-cookies.min.js"></script> <!-- 1.2.17 -->

    <!-- your app's js -->
    <script src="js/printoutApp.js"></script>
    <script src="js/config.js"></script>
    <script src="js/routeConfig.js"></script>
    <script src="js/services.js"></script>
    <script src="js/service.sections.js"></script>
    <script src="js/service.login.js"></script>
    <script src="js/service.users.js"></script>
    <script src="js/service.reward.js"></script>
    <script src="js/service.dateselect.js"></script>
    <script src="js/service.families.js"></script>
    <script src="js/service.gamification.js"></script>
    <script src="js/service.firebase.js"></script>
    <script src="js/service.firebase.changeEmail.js"></script>
    <script src="js/service.underscore.js"></script>


  </head>

  <body ng-app="pp.app.printout">
  <div ng-controller="displayFBDataController">

  <div class="container">
        <div class="row">
            <div class="col-xs-6">
              <h1>
                {{familyname}}
              </h1>
            </div>
            <div class="col-xs-6 text-right">
              <h1>Pflegeprotokoll</h1>
              <h1><small>Request Id # {{requestId}}<br>
              Created: {{request.created}}
              </small></h1>
            </div>
            <hr>
        <div class="row">
            <div class="col-xs-5">
              <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4>Selected timeframe</h4>
                      </div>
                      <div class="panel-body">
                        <p>
                          Date start: {{request.payload.timeframe.start}} <br>
                          Date end: {{request.payload.timeframe.end}} <br>
                        </p>
                      </div>
                    </div>
            </div>
            <div class="col-xs-5 col-xs-offset-2 text-right">
              <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4>Selected sections</h4>
                      </div>
                      <div class="panel-body">
                        <p ng-repeat="(key, value)  in request.payload.sections">
                            {{key}}: {{currentstate(key)}}
                        </p>
                      </div>
                    </div>
            </div>
        </div> <!-- / end request details section -->

         <div class="row">
            <div class="col-sm-12">
            <h3>Care data</h3>
              <div ng-repeat="(activitydate, activitynode) in caredata.activities.date">
                <h4>{{activitydate}}</h4>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th><h4>Activity</h4></th>
                      <th><h4>Changed</h4></th>
                      <th><h4>Minutes</h4></th>
                      <th><h4>Type</h4></th>
                      <th><h4>Dayslice</h4></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(activityId, activitiydetails) in activitynode">
                      <td>{{activitiydetails.activity.title}}</td>
                      <td>{{activitiydetails.changed}}</td>
                      <td>{{activitiydetails.minutes}}</td>
                      <td>{{activitiydetails.type}}</td>
                      <td>{{activitiydetails.dayslice}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
         </div>
        </div> <!-- /row -->
    </div> <!-- /container -->
    </div>
  </body>
</html>
