<ion-view title="{{coaching.title}} Geduld">
  <ion-content class="has-header">
    <div class="content-pic-start module-first">
    </div>
    <div class="padding">
      <h4>Sie brauchen Geduld</h4>
      <p>Versuchen Sie, geduldig seine Frage immer wieder zu beantworten. Sie können die
        Antwort auch gut lesbar aufschreiben und die Notiz zeigen, sobald er die Frage stellt.
      </p>
      <button class="button button-royal icon icon-left ion-chevron-left" ui-sref="app.coach.module">Zurück</button>
      <button class="button button-royal icon icon-right ion-chevron-right" ui-sref="app.coach.module-second">Weiter</button>
    </div>
  </ion-content>
</ion-view>
