<ion-view title="{{coaching.title}} Sicherheit">
  <ion-content class="has-header">
    <div class="content-pic-start module-second">
    </div>
    <div class="padding">
      <h4>Ihr Vater braucht Sicherheit</h4>
      <p>Geben Sie nicht nur eine Antwort, sondern auch Beruhigung. Schauen Sie Ihren Vater dabei an. Wenn Ihr Vater wütend oder unruhig wird,
        nutzen Sie Körperkontakt und legen Sie beruhigend die Hand auf die Schulter. So bekommt er die Sicherheit, dass alles geplant und richtig ist.
      </p>
      <button class="button button-royal icon icon-left ion-chevron-left" ui-sref="app.coach.module-first">Zurück</button>
      <button class="button button-royal icon icon-right ion-chevron-right" ui-sref="app.coach.module-third">Weiter</button>
    </div>
  </ion-content>
</ion-view>
