<ion-view title="{{coaching.title}} Alltag">
  <ion-content class="has-header">
    <div class="content-pic-start module-third">
    </div>
    <div class="padding">
      <h4>Gemeinsam den Alltag meistern</h4>
      <p>Es kann sein, dass Sie nach einiger Zeit die Geduld verlieren. Unterbrechen Sie die Situation, indem Sie den Demenzkranken mit etwas anderem beschäftigen.
        Erzählen Sie ihm von den nächsten Schritten und lenken Sie das Gespräch auf das Hier und Jetzt. So meistern Sie beide den Alltag.
      </p>
      <button class="button button-royal icon icon-left ion-chevron-left" ui-sref="app.coach.module-second">Zurück</button>
    </div>
  </ion-content>
</ion-view>
